//-
   @file: home
   @author: youngsterxyf,gejiawen
   @date: 15/12/5 19:15
   @description: home

extends layout

block content
    h3 Sentinel服务器
    each sentinel in sentinels
        div(class=['panel', 'panel-info'])
            div(class="panel-heading") #{sentinel.address}
            div(class="panel-body")
                div(class="container-fluid")
                    div(class="row")
                        div(class="col-md-6")
                            label 版本：
                            span #{sentinel.version}
                        div(class="col-md-6")
                            label 进程ID：
                            span #{sentinel.process_id}
                    div(class="row")
                        div(class="col-md-6")
                            label 运行时长：
                            span #{sentinel.uptime}
                        div(class="col-md-6")
                            label 等待执行命令数：
                            span #{sentinel.pending_cmds}

    h3 Redis服务器
    each redis in redises
        - var isMaster = redis.role === 'master'
        div(class=['panel', 'panel-success'])
            div(class="panel-heading")
                span #{redis.address}
                label(class=isMaster ? "label label-primary" : "label label-info") #{redis.role}
            div(class="panel-body")
                div(class="container-fluid")
                    div(class="row")
                        div(class="col-md-6")
                            label 版本：
                            span #{redis.version}
                        div(class="col-md-6")
                            label 进程ID：
                            span #{redis.process_id}
                    div(class="row")
                        div(class="col-md-6")
                            label 运行时长：
                            span #{redis.uptime}
                        div(class="col-md-6")
                            label 内存占用：
                            span #{redis.used_memory}
                    div(class="row")
                        div(class="col-md-6")
                            label 内存分配器：
                            span #{redis.mem_allocator}
                        div(class="col-md-6")
                            label 内存碎片比：
                            span #{redis.mem_fragmentation_ratio}
                    div(class="row")
                        div(class="col-md-6")
                            label 等待执行命令数：
                            span #{redis.pending_cmds}
                        div(class="col-md-6")
                            label 内存占用峰值：
                            span #{redis.used_memory_peak}
                    div(class="row")
                        div(class="col-md-6")
                            label 已接连接总数：
                            span #{redis.total_connections_received}
                        div(class="col-md-6")
                            label 拒绝的连接数：
                            span #{redis.rejected_connections}
                    div(class="row")
                        div(class="col-md-6")
                            label 已处理命令数：
                            span #{redis.total_commands_processed}
                        div(class="col-md-6")
                            label 每秒处理命令数：
                            span #{redis.instantaneous_ops_per_sec}
                    div(class="row")
                        div(class="col-md-6")
                            label 查询命中数：
                            span #{redis.keyspace_hits}
                        div(class="col-md-6")
                            label 查询未命中数：
                            span #{redis.keyspace_misses}
                    div(class="row")
                        div(class="col-md-6")
                            label 查询命中率：
                            span #{redis.hit_rate}