//-
   @file: home
   @author: youngsterxyf,gejiawen
   @date: 15/12/5 19:15
   @description: home

extends layout

block content
    div(class="col-xs-6")
      h3 Sentinel服务器
      each sentinel in sentinels
          div(class=['panel', 'panel-info'])
            div(class="panel-heading") #{sentinel.address}
            div(class="panel-body")
              div(class="container-fluid")
                div(class="row")
                  div(class="col-md-6")
                    label 版本
                    ：#{sentinel.version}
                  div(class="col-md-6")
                    label 进程ID
                    ：#{sentinel.process_id}
                div(class="row")
                  div(class="col-md-6")
                    label 运行时长
                    ：#{sentinel.uptime}
      h3 Redis服务器
      each redis in redises
        - var isMaster = redis.role === 'master'
        div(class=['panel', 'panel-success'])
          div(class="panel-heading")
              span #{redis.address}
              label(class=isMaster ? "label label-primary" : "label label-info") #{redis.role}
          div(class="panel-body")
            div(class="container-fluid")
              div(class="row")
                div(class="col-md-6")
                  label 版本
                  ：#{redis.version}
                div(class="col-md-6")
                  label 进程ID
                  ：#{redis.process_id}
              div(class="row")
                div(class="col-md-6")
                  label 运行时长
                  ：#{redis.uptime}
    
    div(class="col-xs-6")
      h3 执行命令
      form(class="form-horizontal")
        div(class="form-group")
          input(type="text", class="form-control", placeholder="输入命令，参数以空格相隔", name="cmd")
        button(type="submit", class=["btn", "btn-primary"]) 执行
