extends layout

block content
    h4 选择服务器：
    each server in servers
        div(class=["checkbox", "server"])
            label
                input(type="checkbox", value="#{server}" checked=true)
                span #{server}
    h4 选择指标：
    each v, k in indexs
        div(class=["checkbox", "index"])
            label
                - var isCMDPS = k === 'cmd_ps'
                input(type="checkbox", value="#{k}" checked=isCMDPS)
                span #{v}
    h4 选择聚合方式：
    each v, k in ways
        div(class="radio")
            label
                - var isDefault = k === 'default'
                input(type="radio", name="reduce_way", value="#{k}" checked=isDefault)
                span #{v}
    h4 选择时间范围：
    div(class="form-inline")
        div(class=["input-group", "date"], id="begin_datetime")
            input(type="text", class="form-control", name="begin-datetime", placeholder="开始时间点")
            span(class="input-group-addon")
                span(class=["glyphicon", "glyphicon-calendar"])
        div(class=["input-group", "date"], id="end_datetime")
            input(type="text", class="form-control", name="end-datetime", placeholder="结束时间点")
            span(class="input-group-addon")
                span(class=["glyphicon", "glyphicon-calendar"])
        button(type="submit", class=["btn", "btn-primary"], id="show_stat") 提交

    div(class="stat-graph-part")
